#define APSTUDIO_READONLY_SYMBOLS 0
#include "resource.h"
IDI_TRAYSTART ICON DISCARDABLE "TrayLauncher.ico"
IDI_SMALL ICON DISCARDABLE "small.ico"
IDI_CLOSE ICON DISCARDABLE "close.ico"
IDI_OPEN ICON DISCARDABLE "open.ico"
IDI_SKIN ICON DISCARDABLE "skin.ico"
IDI_REFRESH ICON DISCARDABLE "refresh.ico"
IDI_EXIT ICON DISCARDABLE "exit.ico"
IDI_PENCIL ICON DISCARDABLE "pencil.ico"
IDI_EDIT ICON DISCARDABLE "edit.ico"
IDI_RIGHT ICON DISCARDABLE "right.ico"
IDI_UNKNOWN ICON DISCARDABLE "unknown.ico"
IDI_OPTION ICON DISCARDABLE "option.ico"
IDI_LNG ICON DISCARDABLE "lng.ico"
IDD_ABOUTBOX DIALOGEX 22,17,202,75
CAPTION "About Tray Launcher"
FONT 9,"Arial",0,0
STYLE 0x00C800C0
BEGIN
  CONTROL "",IDI_TRAYSTART,"Static",0x50000203,0,14,10,32
  CONTROL "Tray Launcher  V1.9.9",IDC_STATIC,"Static",0x50020080,49,9,119,8
  CONTROL "Copyright (C) 2006-2009 by Chao Li",IDC_STATIC,"Static",0x50020040,49,25,129,8
  CONTROL "Email : traylauncher@gmail.com",IDC_STATIC,"Static",0x50020000,49,41,119,8
END
IDD_RUN DIALOGEX 5,4,211,50
CAPTION "Execute"
FONT 10,"Arial",400,0
STYLE 0x80C00000
EXSTYLE 0x00000088
BEGIN
  CONTROL "Execute",IDC_BTNRUN,"Button",0x50010001,168,27,38,15
  CONTROL "",IDC_CBORUN,"ComboBox",0x50210042,3,28,161,111
  CONTROL "#0",IDC_IMG_ICON,"Static",0x50000303,5,4,19,17
  CONTROL "",IDC_EDT_PATH,"Edit",0x50010980,29,7,175,12
END

1 24 "TrayLauncher.exe.manifest"

